.fl {
    float: left;
}
.cell-24 {
    width: 24px;
    height: 24px;
    vertical-align: middle;
}
div.cell-24 {
    float: left;
}
.cell {
    background-image: url('/img/cell/24x24/icon.png');
}
.cell.selected {
    background-color: green;
}
.cell-logo i {
    display: inline-block;
}
#history {
    text-align: center;
    overflow: auto;
    overflow-y: hidden;
    white-space: nowrap;
    font-size: 9pt;
    min-height: 24px;
    margin-bottom: -4px;
}
#history span i {
    display: inline-block;
}
#history span i:first-child {
    margin-right: -14px;
    opacity2: 0.7;
}
.#history span i:last-child {
    opacity2: 0.5;
    margin-left: 5px;
} 
#history .val {
    padding: 4px;
    color: brown;
    display: inline-block;
}

#history .name {
    color: slategrey;
    display: inline-block;
    padding-left: 8px;
}
#sea {
    float: left;
}
#sea-info {
    float: right;
    padding-right: 8px;
}
#sea-info div.plus, #sea-info div.food, #sea-info div.skeleton {
    padding-top: 12px;
}
#sea-info i.plus, #sea-info i.food, #sea-info i.skeleton {
    margin-top: -15px;
    margin-left: 9px;
}
#sea .cell, #history .cell, #sea-info .cell {
    position: absolute;
}
#sea-info .count {
    font-size: 9pt;
    color: darkgray;
}
.water {
    background-position: 0 -48px;
}
.plus {
    background-position: -24px -48px;
}
.nemo-left {
    background-position: 0 0;
}
.nemo-up {
    background-position: -24px 0;
}
.nemo-right {
    background-position: -48px 0;
}
.nemo-down {
    background-position: -72px 0;
}
.babelfish-left {
    background-position: 0 -24px;
}
.babelfish-up {
    background-position: -24px -24px;
}
.babelfish-right {
    background-position: -48px -24px;
}
.babelfish-down {
    background-position: -72px -24px;
}
.plankton-right, .plankton-left {
    background-position: 0 -96px;
}
.plankton-up, .plankton-down {
    background-position: -24px -96px;
}
.skeleton {
    background-position: -72px -48px;
}
.arrow-left {
    background-position: 0 -72px;
}
.arrow-up {
    background-position: -24px -72px;
}
.arrow-right {
    background-position: -48px -72px;
}
.arrow-down {
    background-position: -72px -72px;
}

/* Bootsrap */
.form-control-my {
    height: 17px !important;
    padding: 0px 1px !important;
    text-align: center;
    font-size: 8pt !important;
}

.cell-param {
    display: none;
    overflow: hidden;
    white-space: nowrap; /* for inline block */
    color: #6C6C6C;
    background-color: powderblue;
    padding: 0 10px 4px 8px;
}

.cell-param input {
    vertical-align: text-top;
}

.cell-param-empty {
    height: 24px;
    display: inline-block;
    padding-left: 0;
}

.param-name {
    font-size: 8pt;
}
.cell-logo {
    float: left;
    padding-left: 5px;
    position: relative;
}
.cell-logo:hover {
    margin-top: -3px;
}
.cell-go, .cell-stop {
    padding-right: 10px;
    padding-top: 9px;
    float: right;
    cursor: pointer;
}
.cell-go i, .cell-stop i {
    display: inline-block;
}
.ok-small {
    width: 16px;
    height: 16px;
    vertical-align: middle;
    display: inline-block;
    position: absolute;
    left: 22px;
    top: -2px;
    background-position: -48px -100px;

}
.food {
    background-position: 0px -120px;
}
.cross {
    background-position: -24px -120px;
}
#customize {
    padding-top: 7px;
    margin-right: auto;
    margin-left: 30px;
    width: 94%;
    overflow: hidden;
    border-bottom: solid 2px cadetblue;
    border-left: solid 1px cadetblue;
    border-right: solid 1px cadetblue;
    display: inline-block;
}
#customize form {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}
.go {
        background-position: -48px -120px;
}
.stop {
        background-position: -72px -120px;
}
.group {
    display: inline-block;
}
.db {
    display: block;
}
.arrow-input-up {
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    display: inline-block;
    border-bottom: 6px solid #585A61;
    margin-left: -3px;
    margin-right: -3px;
    cursor: pointer;
    width: 8px;
    height: 12px;
    visibility: hidden;
}
.arrow-input-up:hover {
    border-bottom: 6px solid green;
}
.wrap-input:hover div {
    visibility: visible;
}
.arrow-input-down { 
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    display: inline-block;
    border-top: 6px solid #585A61;
    margin-right: -3px;
    cursor: pointer;
    width: 8px;
    height: 7px;
    vertical-align: middle;
    visibility: hidden;
}
.arrow-input-down:hover {
    border-top: 6px solid red;
    visibility: visible;
}
.arrow-small-up { 
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    display: inline-block;
    position: absolute;
    border-bottom: 4px solid #585A61;
    visibility: hidden;
}
.arrow-small-down {
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    display: inline-block;
    position: absolute;
    border-top: 4px solid #585A61;
    margin-left: 3px;
    visibility: hidden;
}
.rewind-wrap {
    padding-right: 8px;
    display: inline-block;
    position: relative;
    vertical-align: middle;
    cursor: pointer;
    width: 8px;
}
.rewind-wrap.d:hover div {
    border-top: 4px solid red;
}
.rewind-wrap.t:hover div {
    border-bottom: 4px solid green;
}
.rewind-wrap div:first-child {
    top: -4px;
}

.module .params-new {
    padding: 0 0 0 5px;
    box-shadow: inset 0 25px 10px -10px rgba(255, 255, 255, 0.2);
}
.module .params-new .cell-logo {
    float: right;
    position: relative;
    text-decoration: none;
    color: #333;
    padding: 0 4px;
    border-left: 5px solid white;
    -webkit-transition: padding 0.1s linear;
    -moz-transition: padding 0.1s linear;
    -ms-transition: padding 0.1s linear;
    -o-transition: padding 0.1s linear;
}
.module .params-new .cell-logo:hover {
    padding: 0 8px;
    margin-top: 0px;
}
.module .params-new .cell-logo:active {
    padding: 0 16px;
}
.module .params-new .cell-logo:before,
.module .params-new .cell-logo:after {
  content: "";
    position: absolute;
    top: 50%;
    width: 0;
    height: 0;
}
.module .params-new .cell-logo:before {
    left: -12px;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-right: 8px solid white;
    margin-top: -8px;
}

.module.blue .params-new .cell-logo {
    background: #a2d6eb;
}
.module.blue .params-new .cell-logo:hover {
    background: #c5f0ff;
}
.module.blue .params-new .cell-logo:after {
    left: -5px;
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
    border-right: 6px solid #a2d6eb;
    margin-top: -6px;
}
.module.blue .params-new .cell-logo:hover:after {
    border-right-color: #c5f0ff;
}
.tooltip-inner {
    background-color: #DB3D3D;
    max-width: none;
}
.tooltip.bottom .tooltip-arrow {
    border-bottom-color: #DB3D3D;
}
.terminal {
    background-color: rgb(64, 64, 134);
    font-size: 9pt;
    color: white;
    opacity: 0.5;
    overflow: hidden;
    font-weight: bold;
}
.terminal-block {
    position: fixed;
    top: 40px;
    left: 20px;
    margin-left: 10px;
}
.terminal-help {
    font-size: 12px;
    padding: 0 3px;
    font-weight: bolder;
    color: rgb(239, 246, 252);
    background-color: rgb(250, 194, 191);
    cursor: pointer;
}
.terminal-commands {
    background-color: white;
    opacity: 0.7;
    padding: 3px;
    border-radius: 5px;
    font-size: 11px;
    cursor: move;
}
.terminal-commands .cmnds {
    padding-left: 5px;
    background-color: white;
    opacity: 1;
    font-weight: bold;
    cursor: pointer;
}
.terminal-commands input {
    margin-right: 5px;
    cursor: auto;
}
.show-groups, .show-id {
    border-radius: 50%;
    behavior: url(PIE.htc); /* remove if you don't care about IE8 */

    padding: 3px;

    background: #fff;
    border: 1px solid #666;
    color: #666;
    text-align: center;
    position: absolute;
    margin-left: 12px;
    margin-top: 12px;
    z-index: 1000;
    width: 19px;
    height: 16px;
    font: 8px Arial, sans-serif;
}
.target {
    background-color: rgb(190, 190, 240);
}